@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.ttf");
}

.carousel-caption {
  > h5 {
    font-family: "Poppins-SemiBold";
  }
  > p {
    font-family: "Poppins-Light";
    width: 456px;
    line-height: 24px;
  }
}

.spPackage {
  background: url("../images/packagebg.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.accordion-button:not(.collapsed) {
  font-weight: 600;
  color: #383838;
  background: transparent;
}
