* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bd {
  &::before {
    content: "Our ";
  }
  &::after {
    content: " is beautiful";
  }
}

.fifa {
  width: 200px;
  height: 200px;
  background: blue;
  margin: 20px;
  position: relative;
  &::before {
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &::after {
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.heading {
  position: relative;
  width: 100%;
  height: 40px;
  &::before {
    content: "BangladesH";
    width: max-content;
    padding: 0 20px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    z-index: 10;
    font-size: 36px;
    font-variant: small-caps;
    letter-spacing: 5px;
    animation: bd 3s infinite linear;
  }
  &::after {
    content: "";
    width: 100%;
    height: 6px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.argentina {
  width: 150px;
  height: 150px;
  background: skyblue;
  border-radius: 50%;
  animation: football 2s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: #fff;
}

@keyframes football {
  0% {
    margin-left: 20px;
  }
  50% {
    margin-left: 400px;
  }
  100% {
    margin-left: 20px;
  }
}

@keyframes bd {
  0% {
    text-shadow: 0px 0px 0px #f00;
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  50% {
    text-shadow: 0px 0px 20px #f00;
    transform: translate(-50%, -50%) rotateX(360deg);
  }
  100% {
    text-shadow: 0px 0px 0px #f00;
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}

.messi {
  width: 400px;
  display: block;
  margin: 20px auto;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}

.parent {
  width: 100%;
  height: 150px;
  background: dodgerblue;
  display: flex;
  > .chield {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: auto;
    background: linear-gradient(to top right, #55f, #fff, #55f);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      background: radial-gradient(#fff, #000);
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      animation: goal 2s infinite linear;
    }
  }
}

@keyframes goal {
  0% {
    box-shadow: 0px 0px 0px red;
  }
  50% {
    box-shadow: 0px 0px 20px red;
  }
  100% {
    box-shadow: 0px 0px 0px red;
  }
}
